@tailwind base;
@tailwind components;
@tailwind utilities;

/* #192524
#3C5759
#959D90
#D1EBDB
#D0D5CE
#EFECE9 */

.main-bg {
    background: linear-gradient(135deg, #192524 50%, #3C5759);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    overflow: hidden;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.home-left {
    flex: 1;
    text-align: center;
    color: #EFECE9;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: bold;
}

.home-left h1 {
    font-size: 48px;
}

.home-left a {
    font-size: 16px;
}

.home-right {
    flex: 1;
    display: flex;
    justify-content: center;
}

.home-right img {
    width: 300px;
    height: auto;
    border-radius: 50%;
    display: block;
}

.home-right h1 {
    text-align: center;
    color: #EFECE9;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 152px;
}

.game-button {
    animation: blink 4s infinite ease-in-out forwards;
}
@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fade-in {
    animation: fadeInAnimation 3s ease-in-out forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.menu-open {
    background: radial-gradient(circle, rgba(209,235,219,0.05) 0%, rgba(149,157,144,0.05) 100%);
    overflow: hidden;
    transform: translateX(-900px);
    height: 100%;
    width: 400px;
    border-radius: 0% 0% 100% 0%;
    animation: menuOpen 1s forwards;
}
@keyframes menuOpen {
    0% {
        transform: translateX(-900px);
        opacity: 0;
    }
    40% {
        transform: translateX(0px);
        opacity: 0.4;
        border-radius: 0% 0% 100% 0%;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
        border-radius: 0% 0% 0% 0%;
    }
}

.menu-content {
    opacity: 0;
    animation: fadeInAnimation 0.5s forwards;
    animation-delay: 0.5s;
}


.main-menu {
    text-align: center;
    color: #EFECE9;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: bold;
}

.main-menu h1 {
    font-size: 48px;
}

.main-menu a {
    font-size: 32px;
}

.glitch-text {
    animation: glitch 3s linear infinite;
}
@keyframes glitch {
    2%,64%{
      transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
      transform: translate(-2px,0) skew(0deg);
    }
    62%{
      transform: translate(0,0) skew(5deg); 
    }
}
  
.glitch-text:before,
.glitch-text:after {
    content: attr(title);
    position: absolute;
    left: 0;
    top: 0;
    vertical-align: middle;
    width: 100%;
}
  
.glitch-text:before {
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}
@keyframes glitchTop {
    2%,64%{
      transform: translate(2px,-2px);
    }
    4%,60%{
      transform: translate(-2px,2px);
    }
    62%{
      transform: translate(13px,-1px) skew(-13deg); 
    }
}
  
.glitch-text:after {
    animation: glitchBottom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}  
@keyframes glitchBottom {
    2%,64%{
      transform: translate(-2px,0);
    }
    4%,60%{
      transform: translate(-2px,0);
    }
    62%{
      transform: translate(-22px,5px) skew(21deg); 
    }
}

.button-select:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
}