<body style="justify-content: flex-start;">
    <nav class="menu-open main-menu">
    <div class="menu-content" style="margin-top: 30px; margin-bottom: 30px; flex-direction: column; display: flex; justify-content: space-around; min-height: 80%; align-items: center;">
        <a class="glitch-text button-select" title="ABOUT">ABOUT</a>
        <a class="glitch-text button-select" title="EXPERIENCE">EXPERIENCE</a>
        <a class="glitch-text button-select" title="PROJECTS">PROJECTS</a>
        <a class="glitch-text button-select" title="CONTACT">CONTACT</a>
    </div> 
    </nav>
</body>