---
import { AuroraBackground } from '../components/aceternity/aurora';
import { TypewriterEffect, hello_text } from '../components/aceternity/typewriter-effect';
import { ViewTransitions, fade } from 'astro:transitions';

import '../styles/global.css';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" transition:animate={fade({ duration: '1s' })}>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{title}</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<ViewTransitions />
</head>
<body class="main-bg min-h-screen flex items-center justify-center">
<AuroraBackground client:load>
<div class="container scale-x-[-1]">
  <div class="home-left">
    <div style="margin-bottom: 50px;" transition:persist><TypewriterEffect client:load words={hello_text} /></div>
	<a id="start-button" href="/menu" class="game-button">PRESS ANY BUTTON</a>
  </div>
  <div class="home-right">
    <slot />
  </div>
</div>
</AuroraBackground>

<script>
	document.addEventListener('keydown', function(event) {
		document.getElementById('start-button')!.click();
	});
</script>

</body>
</html>